@charset "utf-8";
/* CSS Document */
body,h1,h2,h3,h4,hr,div,i,img,ul,li,dl,dt,dd,p,a,form,input{ margin:0; padding:0; border:0; outline:0; }
body{
	font-family:微软雅黑, Arial, Helvetica, sans-serif;
	font-size:12px;
	background:#00cee6 url(../images/top.jpg) no-repeat center 45px;
	}
a{
	text-decoration:none;
	color:#fff;
	}
ul,li{
	list-style-type:none;
	}
.l{
	float:left;
	}
.r{
	float:right;
	}		
.c{
	clear:both;
	}

.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
.clearfix { display: inline-table; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */
.ft{
	width:100%;
	height:80px;
}
.top{
	width:1018px;
	height:695px;
	margin:0 auto;
	position:relative;
}
.top h2.logo{
	width:180px;
	height:100px;
}
.top p.team{
	font-size: 16px;
    color: #fff;
    position: absolute;
    right: 28px;
    bottom: 270px;
	text-shadow: 1px 1px 3px #000;
}

.dh {
	width: 305px;
	height:232px;
	position: absolute;
	bottom: 14px;
}
.daoyu {
	width: 670px;
	position: absolute;
	bottom: 55px;
	right: 0px;
}
.daoyu p {
	font-size: 16px;
	color: #fff;
	text-indent: 2em;
	line-height: 26px;
}

.tittle {
	width: 1018px;
	height:108px;
	margin: 20px auto 20px;
	text-align:center;
}


.dashijian {
	width: 1018px;
	height: 1040px;
	margin: 50px auto 0;
}

#container {
	margin: 60px auto;
	/*background: url('../images/sjz_bg.jpg') center center no-repeat;*/
}
#timeline {
	width: 1018px;
	height: 400px;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
	background: url('../images/dot.gif') left 45px repeat-x;
}
#dates {
	width: 800px;
	height: 100px;
	overflow: hidden;
}
#dates li {
	list-style: none;
	float: left;
	width: 160px;
	height: 50px;
	font-size: 22px;
	text-align: center;
	background: url('../images/biggerdot.png') center bottom no-repeat;
}
#dates a {
	line-height: 38px;
	padding-bottom: 10px;
}
#dates .selected {
	font-size: 30px;
	color: #F85E6A;
}
#issues {
	width: 800px;
	height: 350px;
	overflow: hidden;
}
#issues li {
	width: 1018px;
	height: 300px;
	margin-top: 20px;
	list-style: none;
	float: left;
}
#issues li img {
	float: left;
	margin: 0 30px 10px 50px;
}
#issues li h1 {
	color: #F85E6A;
	font-size: 32px;
	margin-bottom: 20px;
	text-shadow: #fff 1px 1px 2px;
}
#issues li p {
	font-size: 16px;
	margin-right: 70px;
	font-weight: normal;
	line-height: 22px;
	color: #fff;
}
#next,  #prev {
	position: absolute;
	font-size: 70px;
	top: 230px;
	width: 22px;
	height: 38px;
	background-position: 0 0;
	background-repeat: no-repeat;
	text-indent: -9999px;
	overflow: hidden;
}
#next:hover,  #prev:hover {
	background-position: 0 -76px;
}
#next {
	right: 0;
	background-image: url('../images/next.png');
}
#prev {
	left: 0;
	background-image: url('../images/prev.png');
}
#next.disabled,  #prev.disabled {
	opacity: 0.2;
}


.xgjd {
	width: 1018px;
	height: 620px;
	margin: 50px auto 0;
}
.xgjd ul.list{ 
	width:1018px; 
	height:auto; 
	margin:0 auto; 
}
.xgjd ul.list li{
	width:325px;
	height:285px;
	float:left;
	margin:0 0 20px 21px;
}
.xgjd ul.list li img.list_i{
	width:325px;
	height:207px;
	display:block;
	margin:0;
	padding:0;
	overflow:hidden;
}
.xgjd ul.list li img.list_i:hover{
	overflow:hidden;
	width:325px;
	height:207px;
	transform:scale(1.05);
    -ms-transform:scale(1.05);
    -webkit-transform:scale(1.05);
    -o-transform:scale(1.05);
    -moz-transform:scale(1.05);
}
.xgjd ul.list li p.list_c{ 
	width:280px; 
	margin:0 auto;
	padding: 20px 0; 
	font-size:16px; 
	line-height:22px;
	color:#fff; 
}


.hqhc {
	width: 1018px;
	height:1120px;
	margin: 50px auto 0;
}
.hqhc .wenzi {
	width:900px;
	margin:0 auto;
	}
.hqhc .wenzi h1 {
	text-align:center;
	font-size:20px;
	color:#FB4646;
	margin:30px auto;
	}
.hqhc .wenzi .sm{
	text-align:center;
	font-size:16px;
	line-height:40px;
	color:#fff;
	text-indent:2em;
	}
.hqhc .tuwen{
	width: 499px;
	height:306px;
	margin: 40px 20px 20px 0;
	float:left;
	}
.hqhc .tuwen .tu{
	float:left;
	}
.hqhc .tuwen .wz{
	float:left;
	width: 269px;
	font-size:14px;
	color:#fff;
	padding-left:20px;
	text-indent:2em;
	line-height:24px;
	}

.jy {
	width: 1018px;
	height:140px;
	margin: 50px auto;
	background:url(../images/jy.png) left no-repeat;
	}
.jy .jj {
	width: 878px;
	height:140px;
	float:right;
	}
.jy .yy {
	font-size:16px;
	color:#fff;
	line-height:30px;
	text-indent:2em;
	padding:40px 50px; 
	}


















