@charset "utf-8";
/* CSS Document */
body,h1,h2,h3,h4,hr,div,i,img,ul,li,dl,dt,dd,p,a,form,input{ margin:0; padding:0; border:0; outline:0; }
body{
	font-family:微软雅黑, Arial, Helvetica, sans-serif;
	font-size:12px;
	background:#fff url(../images/top.jpg) no-repeat center 45px;
	min-width:1024px;
	}
a{
	text-decoration:none;
	color:#fff;
	}
ul,li{
	list-style-type:none;
	}
.l{
	float:left;
	}
.r{
	float:right;
	}		
.c{
	clear:both;
	}

.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
.clearfix { display: inline-table; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */

.top{
	width:1018px;
	height:570px;
	margin:0 auto;
	position:relative;
}
.top .xc{
	width:510px;
	height:80px;
	position:absolute;
	top:365px;
	left:400px;
}
.top .xc p{
	font-size:16px;
	color:#003885;
	line-height:27px;
}
.top .team{
	width:340px;
	height:30px;
	position:absolute;
	top:515px;
	right:40px;
}
.top .team p{
	font-size:16px;
	color:#fff;
}
#zong{
	width:1018px;
	/*padding-bottom:60px;*/
	margin:0 auto;
}
h1{
	text-align:center;
	margin-bottom:20px;
	color: #222;
}
#zong .qinfeng{
	width: 1018px;
	height:86px;
	margin: 30px auto 0;
	background:url(../images/qinfeng.png) left center no-repeat;
}
#zong .qinfeng .title_big{
	width: 819px;
	height:70px;
	float:right;
}
#zong .qinfeng .title_big a{
	text-align:center;
	font-size:45px;
	color:#222;
	font-weight:bold;
}
#zong .qinfeng .title_big p{
	text-align:center;
	font-size:14px;
	color:#555;
	line-height:28px;
}
#zong .qinfeng .title_big a:hover{
	text-decoration:underline;
	color:#cc0000;
}
	
#focus { width:544px; height:306px; overflow:hidden; position:relative; margin-right: 20px; float: left;}
#focus ul { height:544px; position:absolute; }
#focus ul li { float:left; width:544px; height:306px; overflow:hidden; position:relative; background:#000; }
#focus ul li div { position:absolute; overflow:hidden; }
#focus .btnBg { position:absolute; width:544px; height:30px; left:0; bottom:0; background:#000; }
#focus .btn { position:absolute; width:530px; padding:0 14px 0 0; height:30px; right:0; bottom:0; text-align:right; }
#focus .btn i { color:#fff; float:left; font-size:14px; font-style:normal; position:absolute; top:5px; left:10px; }
#focus .btn span { display:inline-block; width:20px; height:2px; _font-size:0; margin:14px 0 0 5px; cursor:pointer; background:#fff; }
#focus .btn span.on { background:#fff; }

.navs{
	position:fixed;
	top:300px;
	left:40px;
	z-index:10;
	display:none;
	}	
.navs dl.navDl{
	background:url(../images/line.png) no-repeat 18px center;
	}	
.navDl dt{
	width:130px;
	height:33px;
	text-indent:-9999px;
	background:url(../images/nav_t.jpg) no-repeat center center;
	margin-bottom:4px;
	}
.nav-item{
	position:relative;
	}
.nav-item > dd{
	width:128px;
	height:31px;
	border:1px solid #CCC;
	background:#FFFFFF;
	text-align:center;
	line-height:31px;
	color:#959595;
	margin-bottom:4px;
	cursor:pointer;
	}
/*.nav-item > dd.active{
	background: url(../images/active.png) no-repeat;
    color: #000;
	}*/
.nav-item > dd:hover{
	/*border-color: transparent;
	border-left-color:#6DB8F1;
	border-left-width:2px;*/
	background-color:#6DB8F1;
	color:#fff;
	font-size:16px;
	}
.nav-item > dd:hover ~ .navLi_m{
	display:block;
	}

.nav-item > .navLi_m{
	transition:all .8s ease-in-out;
	width:600px;
	min-height:100px;
	background:#fff;
	position:absolute;
	top:0;
	left:135px;
	padding:8px 0 10px 0;
	display:none;
	}
.nav-item > .navLi_m h2{
	font-size:18px;
	font-weight:normal;
	text-align:left;
	text-indent:20px;
	color:#6cb9ee;
	margin-bottom:10px;
	}	
.nav-item > .navLi_m p{
	text-align:left;
	line-height:180%;
	padding:0 30px 20px 20px
	}
	
.box1{
	height:306px;
	margin:30px auto 40px;
	}
.imp_news{
	width:454px;
	height:306px;
	}
.imp_news .news_list ul li a:hover,.sp ul li a:hover{
	color:#cc0000;
	text-decoration:underline;
		}
.imp_news p.sm{
	width: 454px;
	font-size:14px;
	color:#666;
	}
.imp_news p.sm span.xx a{
	font-size:14px;
	color:#ff0000;
	}
.imp_news .news_list ul{
    height: 306px;
    overflow-y: auto;
	}
.imp_news .news_list ul li{
    height: 50px;
	border-bottom: 1px dashed #ccc;
	}
.imp_news .news_list ul li a{
    padding-left: 25px;
    line-height: 50px;
    color: #222;
    font-size: 17px;
    background: url(../images/li-bg1.png) no-repeat left center;
	}
	
.box2{
	height:504px;
	margin:0 auto 40px;
	}	
.sp{
	width:446px;
	height:332px;
	margin:0 auto;
	}	
.sp ul{
	width:446px;
	height:420px;
	overflow-y:auto;
	}	
.sp ul li a{
	display: block;
    padding-left: 30px;
    height: 60px;
    line-height: 55px;
    color: #222;
    font-size: 16px;
    border-bottom: 1px dashed #ccc;
	background:url(../images/li-bg2.png) no-repeat left center;
	}
.med{
	margin-left: 20px;
    width: 550px;
    height: 420px;
	}
.med video{
	padding:10px;
	background-color: #000;
	}
.med .video_title{
	margin: 15px auto 0;
	}
.med .video_title h2{
	margin: 0 auto 10px;
	font-size:18px;
	color:#222;
	}

.box3{
	width:100%;
	height:523px;
	margin:30px auto 40px;
	background-color:#DCDCDC;
	}
.box3 .gjc{
	width:1018px;
	height:523px;
	margin: 0 auto;
	background:url(../images/gjc_bg.png) no-repeat;
	position:relative;
	}
.box3 .gjc ul.gjc_list{
	width:760px;
	position:absolute;
	top:25px;
	left:240px;
	}
.box3 .gjc ul.gjc_list li{
	transition:all .6s ease;
	width:22px;
	height:60px;
	background-color:#fff;
	float:left;
	margin-left:5px;
	line-height: 60px;
    text-align: center;
	}
.box3 .gjc ul.gjc_list li.active{
	background-color:#003885;
	color:#fff;
	}
.con{
	width:610px;
	position:absolute;
	top:170px;
	left:310px;
	display:none;
	}
.con h2{
	font-size:30px;
	line-height: 55px;
    border-bottom: 1px solid #ccc;
	color:#003885;
	}
.con h3{
	margin-top: 6px;
    font-size: 20px;
    line-height: 45px;
	}
.con p{
	font-size:14px;
	line-height:24px;
	color:#666;
	padding-bottom: 10px;
	}

.box4{
	height:520px;
	width:1018px;
	margin:0 auto 40px;
	}
.box4 ul.bord{
    width: 352px;
    height: 335px;
    position: relative;
	}
.box4 .bord li{
	position: absolute;
	text-align: center;
    overflow: hidden;
    opacity: 0.4;
	cursor:pointer;
	}
.box4 .bord li table{
	width: 100%;
	}
.box4 .bord li table td{
	text-align:center;
	height:107px;
	}
.box4 .bord .b1{
	left: 0;
    top: 0;
    width: 221px;
    height: 107px;
    background: #00d2ff;
    font-size: 17px;
    color: #fff;
	}
.box4 .bord .b2{
	left: 228px;
    top: 0;
    width: 107px;
    height: 107px;
    background: #3a5cab;
    font-size: 17px;
    color: #fff;
	}	
.box4 .bord .b3{
	left: 0;
    top: 114px;
    width: 107px;
    height: 107px;
    background: #98b800;
    font-size: 17px;
    color: #fff;
	}	
.box4 .bord .b4{
	left: 114px;
    top: 114px;
    width: 221px;
    height: 107px;
    background: #ff8a00;
    font-size: 17px;
    color: #fff;
	}
.box4 .bord .b5{
	left: 0;
    top: 228px;
    width: 221px;
    height: 107px;
    background: #8f1acc;
    font-size: 17px;
    color: #fff;
	}
.box4 .bord .b6{
	left: 228px;
    top: 228px;
    width: 107px;
    height: 107px;
    background: #00a201;
    font-size: 17px;
    color: #fff;
	}
.box4 .bord_con{
	width:666px;
	height:335px;
	overflow:auto;
	display:none;
	}
.box4 .bord_con p{
	padding-bottom:20px;
	font-size:16px;
	color:#333;
	line-height:40px;
	}
.box4 .bord_con p span{
	font-size:16px;
	color:#003885;
	font-weight: bold;
	}
.box4 ul.bord li.active{
	opacity: 1;
	}
.box4 ul.bord li:hover{
	opacity: 1;
	}


#jump{position:fixed;top:620px;right:100px;width:40px;z-index:400;}
#top{display:block;width:40px;height:42px;cursor:pointer;background:url(../images/top.png) repeat scroll 0% 0% transparent;}
#top:hover{background:url(../images/toped.png) repeat scroll 0% 0% transparent;}
.social-share-icon{
	transform: scale(1.2);
}


















